$big-container-width: 1600px;
$small-container-width:1360px;
$accent: #F0145A;
$main-blue: #323264;
$main-alt:#46466E;
$main-soft:#686887;
$active-regular:#24A3FF;
$active-hover: #0085FF;
$active:#006CCF;
$grey-bg:#F5F5FA;
$grey-alt:#EDEDF7;
$grey-text:#B3B3BA;
$grey-seperator:#E6E6F0;
$regular-gradient:linear-gradient(rgba(50, 50, 100, 1), rgba(50, 50, 100, 1), rgba(165, 75, 95, 1));
$soft-gradient:linear-gradient(rgba(50, 50, 100, 1), rgba(50, 50, 100, 1), rgba(122, 66, 94, 1));
$red-gradient:linear-gradient(rgba(240, 20, 90, 1), rgba(105, 50, 100, 1));
$supersoft-gradient:linear-gradient(rgba(50, 50, 100, 1), rgba(50, 50, 100, 1), rgba(100, 62, 114, 1));
$red-text-gradient:linear-gradient(45deg, rgba(240, 20, 90, 1), rgba(239, 128, 128, 1));
$common-margin:60px;