@use "variables" as *;

.text-gradient {
    background-image: $red-text-gradient;
    -webkit-background-clip: text;
    color: transparent;

    &__innner {
        font-size: 2.375em;
    }
}

html {
    color: $main-blue;
}

@mixin fonts($cl, $fs, $fw, $lh){
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $cl;
}

.font-16 {
    @include fonts($grey-text, 16px, 400, 19.5px)
}

header {
    .wrapper {
        max-width: $big-container-width;
        padding: 50px 60px 0;
        margin: 0 auto;
        display: grid;
        grid-template-areas: "a b"
        "a c";
        grid-template-columns: 2fr;

        @media screen and (max-width:900px) {
            grid-template-areas: "b"
            "a"
            "c";
        }

        @media screen and (max-width:650px) {
            margin: 0;
            padding: 10px 15px;
        }

        @media screen and (max-width:600px) {
            padding:0 15px;
        }
    }
}

.svg-logo {
    @media screen and (max-width:650px) {
        max-height: 32px;
        max-width: 69.33px;
    }
}

.team {
    @include fonts($main-blue, 36px, 400, 43.88px);
    padding-left: 4px;

    @media screen and (max-width:650px) {
        font-size: 20px;
        line-height: 24.38px;
    }
}

.logo {
    grid-area: a;
    justify-content: space-between;
    @media screen and (max-width: 650px) {
        padding: 15px 0 10px 0;
    }
}

.logo-pic {
    max-height: 60px;

    @media screen and (max-width:650px) {
        max-height: 32px;
    }
}

.slash {
    max-height: 47px;
    padding-left: 4px;

    @media screen and (max-width:650px) {
        max-height: 26px;
    }
}

.flex {
    display: flex;
}

.link {
    text-decoration: none;
    @include fonts($grey-text, 12px, 700, 14.63px);
    padding: 5px 7px;

    &:hover {
        background-color: $grey-bg;
        border-radius: 8px;
    }
}

.details {
    align-items: center;
    grid-area: b;

    @media screen and (max-width:600px) {
        justify-content: space-between;
        padding: 10px 15px;
        background-color: $grey-bg;
        margin-left: -15px;
        margin-right: -30px;
    }

    @media screen and (max-width:400px) {
        margin-right: -15px;
    }

    p, .seperator, .social {
        @media screen and (max-width:600px) {
            display: none;
        }
    }
}

.active {
    background-color: $accent;
    color: white;
    border-radius: 8px;

    &:hover {
        background-color: $accent;
    }
}

.tel {
    text-decoration: none;
    font-weight: 700;
}

#link-active {
    color: $accent;
    text-decoration: underline;
    text-decoration-color: $accent;
    text-underline-offset: 5px;
}


.navigation {
    grid-area: c;
    margin-top: 16px;
    padding: 5px 7px;
    padding-right: 0;
    justify-content: flex-end;

    @media screen and (max-width:600px) {
        display: none;
    }

    @media screen and (max-width:900px) {
        margin-left: 0;
        justify-content: flex-start;
    }
} 

.li {
    font-weight: 700;
    color: $active-regular;
    margin-left: 15px;

    @media screen and (max-width:900px) {
        margin-left: 0;
        margin-right: 15px;
    }

    &:hover {
        text-decoration: underline;
        text-decoration-color: $active-regular;
        text-underline-offset: 5px;
    }
} 

ul {
    list-style: none;
}

.burger {
    display: none;
    position: relative;
    z-index: 50;
    width: 32px;
    height: 18px;
    align-items: center;
    align-self: center;

    @media screen and (max-width:600px) {
        display: flex;
        margin-right: -15px;
    }

    @media screen and (max-width:400px) {
        margin-right: -5px;
    }
    

    span {
        width: 80%;
        height: 2px;
        background-color: $main-blue;
    }

    &::before, &::after {
        content: "";
        height: 2px;
        width: 80%;
        background-color: $main-blue;
        position: absolute;
        transition: all 0.3s ease 0s;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }
}

.burger.burger-active span {
    transform: scale(0);
}

.burger.burger-active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0,-50%);
    background-color: $accent;
}

.burger.burger-active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0,50%);
    background-color: $accent;
}

.seperator {
    width: 6px;
    height: 6px;
    background-color: $grey-seperator;
    border-radius: 3px;
    margin: 0 6px;
}

.flex-active {
    display: flex;
    flex-direction: column;
}

.block {
    display: block;
    background-color: $main-soft;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    margin-left: -15px;
}

.menu {
    position: absolute;
    bottom: 0;
    padding: 12px;
    padding-top: 64px;
    background-color: white;
    align-items: center;
    width: 95%;
    border-radius: 12px 12px 0px 0px;
}

.menu-li {
    background-color: $grey-bg;
    padding: 7px 0;
    width: 90%;
    text-align: center;
    font-size: 24px;
    line-height: 29.26px;
    margin-bottom: 10px;
    border-radius: 12px;

    &:hover {
        background-color: $grey-seperator;
    }
}
.menu-li#link-active {
    text-decoration: none;
}

.new {
    margin: 16px;
    position: fixed;
    bottom: 18rem; 
    right: 1px;
}

.social:hover svg path {
    fill:$accent
}
