@use "variables" as *;

@mixin fonts($cl, $fs, $fw, $lh){
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $cl;
}

main {
    .container {
        max-width: $big-container-width;
        margin: 0 auto;
    }
}

.section {
    background: $supersoft-gradient;
}

.header {
    position: relative;
    z-index: 11111;
}

.promo {
    background-image: url(../images/Symbol.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    background-position: center;
}

// .symbol-image {
//     // width: 100%;
//     // height: auto;
//     display: block;
//     margin: 0 auto; 
// }
