@use 'variables' as *;

@mixin fonts($cl, $fs, $fw, $lh){
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $cl;
}

.grid-container {
    padding:  $common-margin;
    max-width: $big-container-width;
    margin: 0 auto;

    @media screen and (max-width:650px) {
        padding: calc($common-margin /2);
    }

    .grid-inner {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: $common-margin;
        margin-top: $common-margin;

        @media screen and (max-width:980px) {
            gap: calc($common-margin /2);
            grid-template-columns: auto auto;
            margin-top: calc($common-margin /2);
        }

        @media screen and (max-width:650px) {
            grid-template-columns: auto;
            
        }
    }

    .grid-box {
        border: 2px solid $main-blue;
        padding: 10px 15px;
        border-radius: 12px;
        text-align: center;
        svg {
            background-color: $main-blue;
            border-radius: 24px;
            padding: 14px;
        }

        &:hover {
            .head {
                color: $accent;
            }
        }
    }

    .head {
        color: $active-regular;
        font-weight: 700;
        padding-bottom: 15px;
        padding-top: 15px;
        font-size: 22px;
        line-height: 26.82px;

    }

    .grid-box-span {
        @include fonts($main-blue, 16px, 200, 26px);
    }
}