main .container {
  max-width: 1600px;
  margin: 0 auto;
}

.section {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.header {
  position: relative;
  z-index: 11111;
}

.promo {
  background-image: url(../images/Symbol.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  padding: auto;
  background-position: center;
}