main .container {
  max-width: 1600px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc((100% - 60px) * 2 / 7), 1fr));
  gap: 60px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 50px 60px 0;
}
@media screen and (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(calc((100% - 60px) / 2), 1fr));
  }
}
@media screen and (max-width: 650px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 30px;
    padding: 0 15px 0 30px;
  }
}
@media screen and (max-width: 400px) {
  .grid-container {
    padding: 0 15px;
  }
}
@media screen and (max-width: 1440px) {
  .grid-container {
    max-width: 1360px;
  }
}

.none {
  display: none;
}

.grid-item {
  border-radius: 12px;
}
.grid-item:hover {
  color: #F0145A;
}
.grid-item:hover svg path {
  stroke: #F0145A;
}
@media screen and (max-width: 900px) {
  .grid-item {
    max-width: none;
    margin: 0 auto;
  }
}
.grid-item img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}
.grid-item p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #B3B3BA;
}
.grid-item .flex {
  justify-content: space-between;
  margin-top: 15px;
  max-width: 400px;
}
@media screen and (min-width: 1840px) {
  .grid-item .flex p, .grid-item .flex h4 {
    font-size: 140%;
  }
}

.about {
  max-width: 1360px;
  font-size: 38px;
  font-weight: 700;
  line-height: 46.32px;
  color: inherit;
  margin: 0 auto;
  padding: 60px 30px;
}